/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: relative;
	z-index: 10;
	/*margin-top: 20px;*/
	margin-top: 10px;
	margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
	border: 0;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
	box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
	padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
	/*font-size: 16px;*/
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
	padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
	margin-top: 10px;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-bottom: 60px;
}

.carousel .container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.carousel-control {
	background-color: transparent;
	border: 0;
	font-size: 120px;
	margin-top: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
	height: 350px;
}
.carousel img {
	min-width: 100%;
	max-width: none;
}

.carousel.carousel-large .item {
	height: 500px;
}

.carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 20px;
	margin-bottom: 100px;
}
.carousel-caption h1,
.carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
	margin-top: 10px;
}

@media print {
	.navbar-wrapper,
	.carousel,
	footer .pull-right {
		display: none;
	}
}

/* ARTICLE */

article {
	font-size: 16px;
}
article > p > img {
	display: block;
	margin: auto;
	max-width: 100%;
}

@media print {
	article > p > img {
		page-break-inside: avoid;
	}
}