---
---

@import "base";
@import "syntax-highlighting";
@import "../components/bootstrap/scss/_variables.scss";
@import "../components/bootstrap/scss/mixins/_clearfix.scss";

.featurette .featurette-media img {
	max-width: 256px;
	max-height: 256px;
}

.carousel-sm .carousel-item {
	max-height: 300px;
}

@media (min-width: 34em) {
	.navbar-ctn {
		position: absolute;
		top: 10px;
		width: 100%;
		z-index: 1;
	}
}

@media (max-width: 34em) {
	.navbar-ctn .container {
		padding: 0;
	}
	.navbar-ctn .navbar-heading {
		@include clearfix();
	}

	.featurette .featurette-media {
		float: none !important;
		text-align: center;
	}
	.featurette .featurette-media img {
		max-width: 100%;
	}
}

pre {
	background-color: #EEE;
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 9.5px;
}

@media print {
	.navbar,
	#header-carousel,
	footer .pull-right {
		display: none;
	}
}

article {
	font-size: 18px;
}
article > p > img, article > p > a > img {
	display: block;
	margin: auto;
	max-width: 100%;
}

article iframe {
	display: block;
	margin: auto;
}

@media print {
	article > p > img {
		page-break-inside: avoid;
	}
	.pager,
	#disqus_thread {
		display: none;
	}
}
