<div class="container">
  <hr />

  <!-- FOOTER -->
  <footer>
    <p class="pull-right">
      <a href="#">Retour en haut</a>
    </p>
    <p>
      <!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]--><span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">&copy;</span><!--[if lte IE 8]></span><![endif]--> {{site.time | date: "%Y"}} {{ site.title }} &middot; <a href="{{ site.baseurl }}/">Accueil</a> &middot; <a href="{{ '/about/' | prepend: site.baseurl }}">&Agrave; propos</a> &middot; Contenu sous licence libre <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr" target="_blank"><img alt="Licence Creative Commons" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
    </p>
  </footer>
</div><!-- /.container -->

<script src="{{ "/components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/components/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.emersion.fr/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.emersion.fr/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
