<div class="container navbar-wrapper">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="{{ site.baseurl }}/">Accueil</a></li>
            {% for page in site.pages %}
              {% if page.title %}{% unless page.url contains '/404' %}
              <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endunless %}{% endif %}
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>

<div id="myCarousel" class="carousel slide{% if page.title == null %} carousel-large{% endif %}">
  <div class="carousel-inner">
    {% for featured in site.data.carousel %}
      {% assign item = site[featured.type] | where:'title',featured.title | first %}
      <div class="item{% if forloop.first %} active{% endif %}">
        <img src="{{site.baseurl}}/img/carousel/{% if item.slug %}{{ item.slug }}{% else %}{{ featured.title | slugify }}{% endif %}.jpg" alt="" />
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ item.title }}</h1>
            <p class="lead">{{ item.subtitle }}</p>
            <a class="btn btn-large btn-primary" href="{{ item.url | prepend: site.baseurl }}">En savoir plus</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
