---
layout: default
---

<div class="container">
	<img class="img-circle pull-right" src="{{ site.baseurl }}/img/category/medium/{{ page.slug }}.png"/>

	<div class="page-header">
		<h1>{{ page.title }}</h1>
		<p class="lead">{{ page.summary }}</p>
	</div>

	{% assign projects = site.projects | where:'category',page.slug | sort:'date' | reverse %}
	<div class="row">
		{% for project in projects %}
			{% assign slug = (project.relative_path | remove_first:'_projects/' | remove_first:'.md') %}
			{% capture picture_path %}/img/project/medium/{{ slug }}.png{% endcapture %}
			{% assign has_picture = (site.static_files | where:'path',picture_path | size) %}

			{% assign row_index = forloop.index0 | modulo:3 %}
			{% if row_index == 0 %}
				</div><!-- /.row -->
				<div class="row">
			{% endif %}
			<div class="col-md-4 text-center">
				{% if has_picture == 1 %}
					<img src="{{ picture_path }}"/>
				{% else %}
					<img src="{{ '/img/project/medium/generic.png' | prepend: site.baseurl }}"/>
				{% endif %}
				<h2>{{ project.title }}</h2>
				<p>{{ project.excerpt }}</p>
				<p><a class="btn btn-secondary" href="{{ project.url | prepend: site.baseurl }}">Plus &raquo;</a></p>
			</div>
		{% endfor %}
	</div>

	{% if projects.size == 0 %}
		<p class="muted">Aucun projet dans cette catégorie.</p>
	{% endif %}
</div><!-- /.container -->
