---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta muted">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <ul class="pager">
	{% if page.previous %}
	<li><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">Article précédent</a></li>
	{% endif %}
	<li><a href="{{ '/blog/' | prepend: site.baseurl }}" title="Retour au blog"><i class="icon-home"></i></a></li>
	{% if page.next %}
	<li><a href="{{ page.next.url }}" title="{{ page.next.title }}">Article suivant</a></li>
	{% endif %}
  </ul>
</div>