---
layout: default
---

<div class="container">
	{% assign slug = (page.relative_path | remove_first:'_projects/' | remove_first:'.md') %}
	{% capture picture_path %}/img/project/large/{{ slug }}.png{% endcapture %}
	{% assign has_picture = (site.static_files | where:'path',picture_path | size) %}

	<header class="featurette featurette-item">
		{% if has_picture == 1 %}
			<div class="featurette-media pull-left m-r">
				<img src="{{ picture_path }}"/>
			</div>
		{% endif %}
		<h2 class="featurette-heading">{{ page.title }}. <span class="muted">{{ page.subtitle }}</span></h2>
		<p class="lead">{{ page.excerpt }}</p>
		<p>
			{% if page.website %}
				<a class="btn btn-large btn-primary" href="{{ page.website }}" target="_blank">Acc&eacute;der au site Web &raquo;</a>
			{% endif %}
			<a class="btn btn-large btn-link" href="{{ page.category | prepend:"/category/" | prepend: site.baseurl }}">Projets similaires</a>
		</p>
	</header>

	<div class="clearfix"></div>

	{{ page.content }}

	{% if page.gallery %}
	<h2>Galerie</h2>
	<div class="row">
		{% for item in page.gallery %}
			<div class="col-md-4 m-b">
				{% if item.type == "youtube" %}
				<div class="embed-responsive embed-responsive-16by9 img-rounded">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ item.url | remove:'https://www.youtube.com/watch?v=' }}?controls=2" width="360" height="250" frameborder="0" allowfullscreen></iframe>
				</div>
				{% endif %}
				{% if item.type == "image" %}
				<a href="{{ item.url }}" target="_blank">
					<img src="{{ item.thumbnail_url }}" alt="{{ item.title }}" title="{{ item.title }}" class="img-responsive img-rounded">
				</a>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	{% endif %}
</div><!-- /.container -->
